<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMail"
        tools:targetApi="31">
        <activity
            android:name=".activities.ResponseActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.AllParcelInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.MyParcelsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.RoadMapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CreatingParcelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ProfileSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CallDeliveryGayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.SupportCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.AuthorizationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLRHSWZIAMJWyX5VqW-2bT_QDG2e5hSmo" />
    </application>

</manifest>